<div class="wrapper wrp-lg">
  <div class="ctn ctn-super">
    <h1><%= @message %></h1>
    <div>
      <%= image_tag(@image)%>
    </div>
    <div>
      <%= link_to 'Try again', new_path, class:'btn btn-danger btn-lg' %>
    </div>
  </div>
</div>




